// COLORS
$color-primary: orangered;
$color-white: #fff;
$color-perky: #458D7E;
$color-blue-black: #24303E;
$color-stand-out: #808397;
$color-eyeball: #FFFCF8;
$color-gold: #FBD600;
$color-green-daze: #90D4C6;
$color-pinehurst: #2C7566;
$color-silver: rgb(224, 224, 224);

// FONTS
$font-stack: "Arial", sans-serif;
$font-barlow: 'Barlow', sans-serif;
$font-fraunces: 'Fraunces', serif;

