.hero-fon{
    padding-top: 34px;
    padding-bottom: 536px;
    background-color: $color-silver;
    background-image: url(../img/hero-fon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}